<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.slybootsalfred.emojifiglet</string>
	<key>connections</key>
	<dict>
		<key>5F191483-8AAB-432D-AB85-6E9A513E820E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D0CBEE38-5933-426F-A491-1D38A65FD0B5</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BBB01F09-3FEB-44A9-B02B-48466C2FB69E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5F191483-8AAB-432D-AB85-6E9A513E820E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D0CBEE38-5933-426F-A491-1D38A65FD0B5</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>324A3365-E3A4-4837-97A1-E39663BBAFDF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>slyboots</string>
	<key>description</key>
	<string>Make figlets out of slack emojis</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>EmojiFiglet</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>D0CBEE38-5933-426F-A491-1D38A65FD0B5</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Copied the generated figmoji to the clipboard</string>
				<key>title</key>
				<string>Figmoji Generated!</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>324A3365-E3A4-4837-97A1-E39663BBAFDF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>figmoji</string>
				<key>subtext</key>
				<string>Enter the character to generate a figlet for</string>
				<key>text</key>
				<string>Convert character to an emoji figlet letter</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BBB01F09-3FEB-44A9-B02B-48466C2FB69E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>params=($1)
# taking input and getting everything except last arg
t=${params[@]/${params[${#params[@]}-1]}/}
# taking last arg as the emoji
e=${params[${#params[@]}-1]}

echo -en ".\n$(/usr/local/bin/figlet -S -f banner $t | sed -e 's/ /      /g' | sed -e s/\#/$e/g)"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./figmoji.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5F191483-8AAB-432D-AB85-6E9A513E820E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>324A3365-E3A4-4837-97A1-E39663BBAFDF</key>
		<dict>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>5F191483-8AAB-432D-AB85-6E9A513E820E</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>BBB01F09-3FEB-44A9-B02B-48466C2FB69E</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>D0CBEE38-5933-426F-A491-1D38A65FD0B5</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>likethestates.com</string>
</dict>
</plist>
